APP_NAME=IMatchBetter
APP_URL=http://localhost/imatchbetter
APP_ENV=local

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=imatchbetter
DB_USER=root
DB_PASS=

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@imatchbetter.local
MAIL_FROM_NAME=IMatchBetter
