/vendor/
/uploads/resumes/*
!/uploads/resumes/.gitkeep
/uploads/logos/*
!/uploads/logos/.gitkeep
/uploads/certificates/*
!/uploads/certificates/.gitkeep
/uploads/avatars/*
!/uploads/avatars/.gitkeep
.env
/logs/*.log
/.phpunit.cache/
